<form action="/AjoutAgendaPartage" method="POST">
    <label for="userID">User ID:</label><br>
    <input type="text" id="userID" name="userID"><br>
    <label for="agendaID">Agenda ID:</label><br>
    <input type="text" id="agendaID" name="agendaID"><br><br>
    <input type="submit" value="Submit">
</form>

<form action="/RemoveAgendaPartage" method="POST">
    <label for="userID">User ID:</label><br>
    <input type="text" id="userID" name="userID"><br>
    <label for="agendaID">Agenda ID:</label><br>
    <input type="text" id="agendaID" name="agendaID"><br><br>
    <input type="submit" value="Submit">
</form>
