<div class="mb-4 p-3" data-view="<%= view %>" id="container-filter">
    <h2 class="text-lg font-semibold mb-2">Agendas</h2>
    <div class="flex flex-wrap flex-row sm:flex-col gap-3">
        <% data.agendas.forEach(a => { %>
            <label class="flex items-center gap-2 cursor-pointer">
                <input 
                    type="checkbox" 
                    class="agenda-toggle" 
                    value="<%= a._id %>" 
                    checked
                >
                <span 
                    class="filter-color filter-color-<%= a.couleur %>"
                ></span>
                <span><%= a.nom %></span>
            </label>
        <% }) %>
    </div>
</div>
<script>
/**
* Gère le placement des rendez-vous avec le filtre.
*
*/
function layoutAppointments() {
    let days = [];

    /**
    * Récupère tous les rendez-vous visible et extrait les données des attributs data-*
    *   - start: début du rendez-vous en heure décimale ;
    *   - duratioin: durée du rendez-vous en heure décimale ;
    *   - day: Jour du rendez-vous.
    *   
    *   - end: start + duration
    */
    document.querySelectorAll(".appointment").forEach(el => {
        if (el.style.display === "none") return;
        let day = el.dataset.day;
        let start = parseFloat(el.dataset.start);
        let duration = parseFloat(el.dataset.duration);
        let end = start + duration;

        if (!days[day]) days[day] = [];
        days[day].push({ el, start, duration, end });
    });

    /**
    * Itère pour chaque jour (car les rendez-vous sont par jour, triés par heure de début)
    */
    Object.values(days).forEach(appointments => {
        appointments.sort((a, b) => a.start - b.start);

        // On aura un tableau qui seront les colonnes pour placer chaque rendez-vous
        let columns = [];

        /** 
        * Pour chaque rendez-vous par jour:
        * Sur chaque colonne, si le dernier rendez-vous termine avant le début du rendez-vous actuel : aucun chevauchement (ils sont triés), on l'ajoute à la colonne
        * Si pour chaque colonne, y a pas de chevauchement, alors le rendez-vous se chevauche avec tout
        *   => Il n'est pas placé, on rajoute une colonne avec ce rendez-vous
        * 
        * Petit hic, si on a un rendez-vous qui peut prendre toute la largeur et qu'on utilise seulement ça, il va prendre que la largeur & posiiton de la première colonne disponible
        */
        appointments.forEach(appt => {
            let placed = false;
            for (let i = 0; i < columns.length; i++) {
                let col = columns[i];
                let last = col[col.length - 1];
                let lastEnd = last.start + last.duration;
                if (lastEnd <= appt.start) {
                    col.push(appt);
                    placed = true;
                    break;
                }
            }
            if (!placed) columns.push([appt]);
        });

        let colCount = columns.length;

        /**
        * Pour pallier le hic précédent, on sur chaque colonne.
        * Pour chaque rendez-vous, on regarde les colonnes d'après:
        *   Si le rendez-vous overlap, on passe, sinon on incrémente un compteur
        *   On met donc le début (la colonne) proportionnellement au numéro de la colonne et on l'étend, proportionnellement aux nombres de colonne disponibles
        */
        columns.forEach((col, i) => {
            col.forEach(appt => {
                let span = 1;
                for (let j = i + 1; j < columns.length; j++) {
                    let overlap = columns[j].some(c => !(appt.end <= c.start || appt.start >= c.end));
                    if (overlap) break;
                    span++;
                }

                let width = span * 100 / colCount;
                appt.el.style.left = `${(100 / colCount) * i}%`;
                appt.el.style.width = `${width}%`;
            });
        });
    });
}

</script>
<script>
function setLocalStorageFilter(checkboxes)
{
    localStorage.setItem("agenda-filter", Array.from(checkboxes).filter(e => !e.checked).map(e => e.value))
}

</script>
<script>
document.addEventListener("DOMContentLoaded", () => {
    let toggles = document.querySelectorAll(".agenda-toggle");
    let default_visibleID = localStorage.getItem("agenda-filter");
    if (default_visibleID != null) {
        default_visibleID = default_visibleID.split(",");
    }
    
    toggles.forEach(toggle => {
        toggle.addEventListener("change", () => {
            let agendaId = toggle.value;
            let visible = toggle.checked;
            let view = document.querySelector('#container-filter');
            view = view.dataset.view
            
            switch (view) {
                case "month":
                    document.querySelectorAll(`.appointment-month[data-agenda="${agendaId}"]`)
                            .forEach(el => el.classList.toggle("hidden"));
                    break;
            
                default:
                console.log('aa');
                
                document.querySelectorAll(`.appointment[data-agenda='${agendaId}']`)
                        .forEach(el => {
                            el.style.display = visible ? "block" : "none";
                        });
                    layoutAppointments();
                    break;
            }

            setLocalStorageFilter(toggles);
        });

        if (default_visibleID != null) {
            let exist = default_visibleID.includes(toggle.value)
            if (exist)
            {
                toggle.click();
            }
        }
    });

    layoutAppointments();
});
</script>