<% layout('template/layout') %>

<div class="flex flex-1 flex-col calendar-container ">

  <div class="flex flex-1 overflow-hidden">

    <div class="w-54 border-r p-4 overflow-y-auto absolute md:static h-full" id="agenda-filter">
      <%- include("components/agenda_filter", { view }) %>
    </div>

    <div class="flex flex-1 flex-col">
        <%- include("components/header", { title, view }) %>

        <div class="flex-1 relative overflow-auto calendar-inner-container">
            
            <%- body %>

            <!-- Ligne de l’heure actuelle - pas encore utilisée mais pour bientôt
            <div class="absolute left-0 right-0 border-t-2 border-red-500" style="top: 50%;"></div>-->
        </div>
    </div>
  </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        let btn_collapseAgenda = document.querySelector('[data-action="agendas-filter"]'); 
        let el_agendaFilter = document.querySelector("#agenda-filter");
        let hidden = true


        btn_collapseAgenda?.addEventListener("click", (event) => {
            let el = event.target;
            
            el_agendaFilter.classList.toggle("hidden");
            
            let child = el.querySelector("span");
            if (child) {
                child.classList.toggle("fa-angle-double-left");
                child.classList.toggle("fa-angle-double-right");
            } else {
                el.classList.toggle("fa-angle-double-left");
                el.classList.toggle("fa-angle-double-right");
            }
        });

        document.addEventListener("click", (e) => {
            
            if (window.screen.width < 768) {
                if (!el_agendaFilter.contains(e.target) && !btn_collapseAgenda.contains(e.target) && !el_agendaFilter.classList.contains("hidden")) {
                    btn_collapseAgenda.click();
                }
            }
        });


        // 768 c'est le media queries "md" de tailwind
        if (window.screen.width < 768) {
            btn_collapseAgenda.click();
        }
    });
</script>