<% layout('template/layout') %>

<div class="flex flex-1 flex-col calendar-container ">

  <div class="flex flex-1 overflow-hidden">

    <div class="w-54 border-r p-4 overflow-y-auto absolute md:static h-full z-20" id="agenda-filter">
      <%- include("components/agenda_filter", { view }) %>
    </div>

    <div class="flex flex-1 flex-col">
        <%- include("components/header", { title, view }) %>

        <div class="flex-1 relative overflow-auto calendar-inner-container">
            
            <%- body %>

            <!-- Ligne de l’heure actuelle - pas encore utilisée mais pour bientôt
            <div class="absolute left-0 right-0 border-t-2 border-red-500" style="top: 50%;"></div>-->
        </div>
    </div>
  </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        let btn_collapseAgenda = document.querySelector('[data-action="agendas-filter"]'); 
        let el_agendaFilter = document.querySelector("#agenda-filter");
        let hidden = true


        btn_collapseAgenda?.addEventListener("click", (event) => {
            let el = event.target;
            
            el_agendaFilter.classList.toggle("hidden");
            
            let child = el.querySelector("span");
            if (child) {
                child.classList.toggle("fa-angle-double-left");
                child.classList.toggle("fa-angle-double-right");
            } else {
                el.classList.toggle("fa-angle-double-left");
                el.classList.toggle("fa-angle-double-right");
            }
        });

        document.addEventListener("click", (e) => {
            
            if (window.screen.width < 768) {
                if (!el_agendaFilter.contains(e.target) && !btn_collapseAgenda.contains(e.target) && !el_agendaFilter.classList.contains("hidden")) {
                    btn_collapseAgenda.click();
                }
            }
        });


        // 768 c'est le media queries "md" de tailwind
        if (window.screen.width < 768) {
            btn_collapseAgenda.click();
        }
    });
</script>
<script>
/** Ouvre le modal pour ajouter un rendez-vous avec en pré-remplissage le jour, mois, année, heure */
document.addEventListener("click", function (e) {
    let target = e.target.closest("[data-open-appointment]");
    let app = e.target.closest("[data-agenda]");
    
    if (!target || app) return;

    let year = target.dataset.year;
    let month = target.dataset.month;
    let day = target.dataset.day;
    let hour = target.dataset.hour ?? 8;

    let url = `/appointment/new?year=${year}&month=${month}&day=${day}&beginningHour=${hour}`;
   
    openModal(url, "/js/appointments.js");

    e.preventDefault();
});

document.addEventListener("DOMContentLoaded", function(e) {
    let allApp = document.querySelectorAll("[data-appointment]");
    allApp.forEach(app => {
        app.addEventListener("click", (e) => {
            let options = {
                method: "POST",
                body: { 
                    day: app.dataset.day,
                    month: app.dataset.month,
                    year: app.dataset.year, 
                    agendaId: app.dataset.agenda,
                    id: app.dataset.id
                }
            }
            openModal("/appointment/edit", "/js/appointments.js", options)
        })
    })
    
});
</script>