<header class="bg-stone-800 shadow-sm">
  <div class="container mx-auto px-6 py-2 flex justify-between items-center text-stone-200">
    <a href="/" class="text-xl font-bold hover:text-amber-300">
      Mon SUPER Agenda (trop slaaay)
    </a>
    <nav class="space-x-4 flex items-center">
      <% if (user) {
       %>
        <input type="text" name="recherche" id="recherche" placeholder=" recherche" class="hover:border-white-300 hover:border-1 rounded-sm hidden test">
        <i class="fa-solid fa-magnifying-glass hover:text-amber-300"></i>
        <a href="/agendas/list" class="hover:text-amber-300">Mes agendas</a>
        <a href="/calendar/week" class="hover:text-amber-300">Calendrier</a>
        <a href="/appointment/new" class="hover:text-amber-300">Nouveau RDV</a>
        <a href="/notifications" class="relative text-white hover:text-slate-300">
          <i class="fa fa-bell text-xl"></i>
          <% if (notificationCount > 0) { %>
            <span class="absolute -top-1 -right-2 bg-red-600 text-white text-xs font-bold rounded-full w-5 h-5 flex items-center justify-center">
              <%= notificationCount %>
            </span>
          <% } %>
        </a>
      <% } %>

      <% if (!user) {%>
        <a href="/login" class="ml-4 px-3 py-1 bg-amber-500 text-stone-900 rounded hover:bg-amber-600">Connexion</a>
        <a href="/register" class="ml-2 px-3 py-1 bg-amber-400 text-stone-900 rounded hover:bg-amber-500">Inscription</a>
      <% } else { %>
        <a href="/logout" class="ml-2 px-3 py-1 bg-red-400 text-stone-900 rounded hover:bg-red-500">Déconnexion</a>
      <% } %>
    </nav>
  </div>
</header>
<script>
  let variableI = document.querySelector("i");
  affichage(variableI);
</script>
<script>
  function affichage(variableI =  document.querySelector("i")) {
    variableI.addEventListener("click", () => {
      let visible = document.querySelector(".test");
      visible.classList.toggle("hidden");
    });
  }
</script>
