<header class="shadow-sm border-b-4 w-full">
  <div class="container mx-auto px-6 py-2 flex flex-col md:flex-row justify-between items-center">
    <a href="/" class="text-xl font-bold hover:text-amber-300 hidden md:flex">
      Mon SUPER Agenda (trop slaaay)
    </a>

    <%- include("desktop-header") %>
    
    <div class="md:hidden flex items-left">
      <button id="mobile-menu-button" class="text-2xl">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>

</header>
<script>
  function affichage(variableI =  document.querySelector("i")) {
    variableI.addEventListener("click", () => {
      let visible = document.querySelector(".test");
      visible.classList.toggle("hidden");
    });
  }
</script>
<script>
document.addEventListener("DOMContentLoaded", () => {
  let mobileButton = document.getElementById("mobile-menu-button");
  let mobileMenu = document.querySelector("nav");

  mobileButton.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
    mobileMenu.classList.toggle("flex");
  });


  let themeMenu = document.getElementById("theme-menu");
  let themeToggle = document.getElementById("theme-toggle");
  let themeLabel = document.getElementById("theme-label");
  let themeIcon = document.getElementById("theme-icon");

  let themes = {};

  let themes_el = document.querySelectorAll('[data-theme]');
  themes_el.forEach((el) => {
    let themeCode = el.dataset.theme;
    let label = el.querySelector("span").textContent;
    let fa = el.querySelector("i");

    let icon = Array.from(fa.classList).find(cl => cl.match("^fa-"));
    
    themes[themeCode] = { icon, label}
  })
  
  function applyTheme(theme) {
    document.body.className = theme;
    themeLabel.textContent = themes[theme].label;
    themeIcon.className = `fa ${themes[theme].icon}`;

    themes_el.forEach(el => el.classList.remove("theme-active"));
    let theme_el = document.querySelector(`[data-theme=${theme}]`).classList.add("theme-active");

    localStorage.setItem("theme", theme);
    fetch("/api/accounts/edit/theme", {
      method: "POST",
      headers: { "Content-Type": "application/json;charset=UTF-8" },
      body: JSON.stringify({ theme }),
    }).catch(console.error);
  }

  let savedTheme = localStorage.getItem("theme") || "dark";
  applyTheme(savedTheme);

  themeToggle.addEventListener("click", () => {
    themeMenu.classList.toggle("hidden");
  });

  themes_el.forEach(item => {
    item.addEventListener("click", () => {
      let selectedTheme = item.getAttribute("data-theme");
      applyTheme(selectedTheme);
      themeMenu.classList.add("hidden");
    });
  });

  document.addEventListener("click", (e) => {
    if (!themeToggle.contains(e.target) && !themeMenu.contains(e.target)) {
      themeMenu.classList.add("hidden");
    }
  });
});
</script>