<header class="bg-stone-800 shadow-sm">
  <div class="container mx-auto px-6 py-4 flex justify-between items-center text-stone-200">
    <a href="/agendas" class="text-xl font-bold hover:text-amber-300">
      Mon SUPER Agenda (trop slaaay)
    </a>
    <nav class="space-x-4">
      <a href="/agendas" class="hover:text-amber-300">Calendrier</a>
      <a href="/daily" class="hover:text-amber-300">Jour</a>
      <a href="/appointment/new" class="hover:text-amber-300">Nouveau RDV</a>
    </nav>
  </div>
</header>
