<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= "Agenda" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<script>
  let user = JSON.parse('<%- JSON.stringify(user) %>')
  if (user  && user.theme) localStorage.setItem("theme", user.theme);
  
  let theme = user ? user.theme : '';
  if (theme == '') {
    theme = localStorage.getItem("theme") || "dark"; 
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.body.classList.add(theme);
  })
</script>
<body class="text-gray-50 min-h-screen flex flex-col">

  <%- include("header") %>

  <div class="flex-1 flex w-full mx-auto">
    <%- body %>
  </div>
</body>
</html>
