<% layout('calendar/layout_calendar') %>

<%  let background_normal = "background: linear-gradient(to bottom,  rgba(58, 62, 65, 0.85) calc(100%/24 - 1px), rgba(24, 26, 27, 0.253) calc(100%/24));"
    let background_highlight = "background: linear-gradient(to bottom,  rgba(58, 62, 65, 0.85) calc(100%/24 - 1px), rgba(54, 53, 5, 0.7) calc(100%/24)); "
%>
<div class="flex border-b border-stone-700 sticky top-0 bg-stone-800 z-10 ">
    <% data.daysLabel.forEach(day => { %>
    <div class="flex-1 p-2 text-center text-sm font-semibold border-r border-stone-700">
        <%= day %>
    </div>
    <% }) %>
</div>
<div class = "flex relative">
    <% for (let i = 1; i < 8; i++) { 
        let isToday = new Date().getDate() == data.days[i - 1].getDate();
        %>
    <div class = "flex-1 relative border-r border-stone-700"
          style = "height: 95vh; <%= isToday ? background_highlight : background_normal %> background-size: auto calc(100%/24); ">
        <% data.appointments.filter(a => a.start.getDay() === i).forEach(app => { 
            let day = app.start.getDay()
            let month = app.start.getMonth()
            let year = app.start.getYear()
        %>
        <%- include('../components/appointment', { app, day, month, year }) %>
        <% }) %>
    </div>
    <% } %>
</div>