<%
const valeur = typeof exist === "undefined" ? true : exist;
%>
<div class="container bg-stone-800 mx-auto max-w-md p-6 shadow rounded-xl">
    <h1 class="text-2xl font-bold mb-6 text-center">Connexion</h1>
    <% if(!valeur){%>
        <p style="color: red;">login ou mot de passe incorect</p>
    <% } %>
    <form name="login" action="/login" method="POST" class="text-center font-semibold">
        <div class="mb-4">
            <label class="block font-semibold mb-1" for="username">Login</label>
            <input id="username" name="username" value="<%= locals.username ?? '' %>"
                class="w-full border px-3 py-2 rounded">
            <div class="text-red-500 text-sm mt-1"><%= locals.message ?? '' %></div>
        </div>

        <div class="mb-4">
            <label class="block font-semibold mb-1" for="password">Mot de passe</label>
            <input id="password" type="password" name="password" value=""
                class="w-full border px-3 py-2 rounded">
            <div id="passwordMessage" class="text-red-500 text-sm mt-1"></div>
        </div>

        <div>
            <input type="submit" value="Se connecter"
                class="px-3 py-2 bg-green-600 rounded hover:bg-green-700 hover:cursor-pointer">
        </div>
    </form>
</div>